* {
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 45px;
}

.app-btn-container {
  /* margin-top: 5px; */
  margin-left: 73%;
}

.App h1 {
  text-align: center;
}

.app-btn-container .app-write {
  border: none;
  padding: 15px;
  background: wheat;
  border-radius: 5px;
  cursor: pointer;
}

.app-btn-container .app-hidden {
  border: none;
  padding: 15px;
  background: rgb(246, 178, 119);
  border-radius: 5px;
  cursor: pointer;
}

.app-header {
  text-align: center;
  border: 1px dotted #000;
  border-radius: 5px;
  padding: 30px;
  width: 50%;
  margin: 10px 0 0 350px;
}

.app-header input,
textarea {
  margin-bottom: 10px;
  width: 300px;
  padding: 7px;
}

.app-header textarea {
  height: 100px;
}

.app-header select {
  margin-bottom: 10px;
}

.btn-container-submit button,
.btn-container-reset button {
  margin: 2px auto !important;
  width: 380px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-container-submit button:first-child {
  margin-right: 5px;
  display: block;
  text-align: center;
  border: none;
  background: green;
  color: #fff;
}

.btn-container-reset button:first-child {
  background: none;
  background: tomato;
  border: none;
  color: #fff;
}

.Editor {
  margin-bottom: 15px;
  font-size: 25px;
}

.Editor h2 {
  color: #000;
}

.container label {
  margin-right: 7px;
  font-size: 15px;
}

.container .content-label {
  vertical-align: 110px;
}

.container select {
  width: 318px;
}

.input_title:focus,
.input_author:focus,
.area_content:focus {
  background: rgb(230, 228, 228);
  outline: none;
}

.input_title:focus::placeholder,
.input_author:focus::placeholder,
.area_content:focus::placeholder {
  color: #000;
  font-weight: bold;
}

.app-list {
  text-align: center;
}

.division {
  margin-top: 10px;
}

.boardList {
  /* border: 1px solid #000; */
  /* background: rgb(244, 244, 244); */
  margin-top: 30px;
}

.boardList h5 {
  font-weight: 300;
}

.boardList h5 span {
  font-weight: bold;
}

.listItem {
  border: 2px solid rgb(195, 194, 194);
  background-color: #fff;
  margin: 10px 15%;
  padding: 20px;
  text-align: left;
  width: 68%;
  border-radius: 5px;
}

.listItem .input_title {
  width: 100px;
}

.listItem .input_content {
  width: 300px;
  height: 40px;
}

.listItem .content-label {
  vertical-align: 40px !important;
}

.listItem .info {
  border-top: 1px solid #000;
  padding: 5px;
}

.listItem div:first-child {
  margin-bottom: 2px;
}

.listItem .list_content {
  margin-bottom: 5px !important;
  padding: 5px;
}

.listItem .date {
  color: gray;
}

.listItem .list_title {
  font-weight: bold;
}

.list_btn_box {
  float: right;
}

.list_btn_box .save {
  border: none;
  border: 1px solid green;
  border-radius: 5px;
  color: green;
  margin-right: 5px;
  cursor: pointer;
  background: #fff;
}

.list_btn_box .save:hover {
  background: green;
  color: #fff;
}

.list_btn_box .delete {
  border: none;
  border: 1px solid tomato;
  border-radius: 5px;
  color: tomato;
  margin-right: 5px;
  cursor: pointer;
  background: #fff;
}

.list_btn_box .delete:hover {
  background: tomato;
  color: #fff;
}

.list_btn_box button {
  width: 70px;
  height: 30px;
}
